<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Matthew Stockdale</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'website/img/favicon.ico' %}" rel="icon">
  <link href="{% static 'website/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'website/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'website/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'website/css/style.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Matthew Stockdale</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url(../../../static/website/img/IMG_20200527_123402_MP.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 class="intro-title mb-4">Hi, I'm Matt</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Programmer,IT professional,Problem solver,Dog/Cat dad</span><strong class="text-slider"></strong></p>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="about-img">
                  <img src="{% static 'website/img/about_me_pic.jpg' %}" class="img-fluid rounded b-shadow-a m-0" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                    <div class="about-info">
                      <br>
                      <p><span class="title-s">Name: </span> <span>Matthew Stockdale</span></p>
                      <p><span class="title-s">Email: </span> <a href="mailto:millionairematt@gmail.com"><span>millionairematt@gmail.com</span></a></p>
                      <p><span class="title-s">Phone: </span> <span>(409) 916-2219</span></p>
                      <p><span class="title-s">Github: </span> <a href="https://github.com/troxed" target="_blank"><span>Troxed</span></a></p>
                    </div>
                  </div>
                  <p>
                    I'm a self-taught software developer with a background in enterprise IT. My problem-solving skills, honed
                    by my experience in IT, allow me to approach software development challenges with a logical and
                    efficient mindset.
                  </p>
                  <p>
                    I am a quick learner and work well in a team, with strong communication skills
                    that help me collaborate effectively with clients and colleagues. I am dedicated to delivering
                    innovative and effective solutions and am always looking for new challenges to improve my skills.
                  </p>
                  <p>
                    In my free time, I enjoy hiking with my dog Sox, who always keeps me company on my outdoor adventures. It's a great way
                    to clear my head and stay active. It's also a great opportunity to spend quality time with my furry
                    friend, who is my loyal companion.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Experience
            </h3>
            <p class="subtitle-a">
              Positions I've held:
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
                <img src="{% static 'website/img/NASA_logo.svg' %}" style="width: 60%">
            </div>
            <h2 class="s-title">IT Support</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
                <img src="{% static 'website/img/Chevron_Logo.svg' %}" style="width: 40%">
            </div>
            <h2 class="s-title">Support Analyst</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
                <img src="{% static 'website/img/IH_logo.png' %}" style="width: 90%; padding-top: 1rem">
            </div>
            <h2 class="s-title">IT Director</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
                <img src="{% static 'website/img/Reboot_logo.webp' %}" style="width: 80%">
            </div>
            <h2 class="s-title">IT Specialist</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
                <img src="{% static 'website/img/ST_logo.svg' %}" style="width: 75%">
            </div>
              <h2 class="s-title">IT Consultant</h2>
          </div>
        </div>
        <div class="col-md-4">
          <a href="{% static 'website/img/resume.pdf' %}" target="_blank" onclick="window.open('{% static 'website/img/resume.pdf' %}', 'resume', 'width=800,height=600'); return false;">
            <div class="service-box">
              <div class="service-ico">
                <div class="resume-box">
                  <div class="work-img" style="overflow: visible">
                    <img src="{% static 'website/img/resume.png' %}" class="img-fluid" style="width: 38%">
                  </div>
                </div>
              </div>
              <h2 class="s-title">Resume</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->



  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Projects
            </h3>
            <p class="subtitle-a">
              What I've created:
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a onclick="window.open('https://www.bestbuds.app')">
              <div class="work-img">
                <img src="{% static 'website/img/bestbuds.png' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Best Buds App</h2>
                    <div class="w-more">
                      <span>Web app for cannabis cultivators</span>
                      <ul><br>
                        <li>Python</li>
                        <li>Django</li>
                        <li>Postgresql</li>
                        <li>AWS S3</li>
                        <li>Railway</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a onclick="window.open('https://a1blendz.com')">
              <div class="work-img">
                <img src="{% static 'website/img/a1blendz.png' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">A1 Blendz Website</h2>
                    <div class="w-more">
                      <span class="">Professional website for local barber</span>
                      <ul><br>
                        <li>Python</li>
                        <li>Django</li>
                        <li>Postgresql</li>
                        <li>AWS S3, SES</li>
                        <li>Railway</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a onclick="window.open('https://facefinderapp.com')">
              <div class="work-img">
                <img src="{% static 'website/img/facefinder.png' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Face Finder</h2>
                    <div class="w-more">
                      <span class="">Search for a face in a chosen photo</span>
                      <ul><br>
                        <li>Python</li>
                        <li>Django</li>
                        <li>React</li>
                        <li>AWS S3, SES</li>
                        <li>Railway</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->



  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(../../../static/website/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Message me
                    </h5>
                  </div>
                  <div>
                    <form action="{% url 'send_email' %}" method="post" role="form" class="contactForm">
                      {% csrf_token %}
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rounded">Send Message</button>
                          {% if messages %}
                              {% for message in messages %}
                                <div>
                                  {{ message }}
                                </div>
                              {% endfor %}
                          {% endif %}
                        </div>
                        </div>
                    </form>
                  </div>
                </div>
                 <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      You can send me a message using the form, or use one of my contact links below.
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> Indianapolis, Indiana</li>
                      <li><span class="ion-ios-telephone"></span> (409) 916-2219</li>
                      <li><span class="ion-email"></span><a href="mailto:millionairematt@gmail.com">millionairematt@gmail.com</a></li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://github.com/troxed" target="_blank"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                      <li><a href="mailto:millionairematt@gmail.com"><span class="ico-circle"><i class="ion-android-mail"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'website/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'website/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'website/lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'website/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'website/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'website/lib/counterup/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'website/lib/counterup/jquery.counterup.js' %}"></script>
  <script src="{% static 'website/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'website/lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'website/lib/typed/typed.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'website/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'website/js/main.js' %}"></script>

</body>
</html>
